<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinan.cn.p2p.test.repay.mapper.LoanOpCoreInvestMapper">

    <resultMap id="BaseResultMap" type="com.xinan.cn.p2p.test.repay.bean.entities.LoanOpCoreInvest">
        <id column="id" property="id"/>
        <result column="invest_id" property="investId"/>
        <result column="sku_id" property="skuId"/>
        <result column="invest_user_id" property="investUserId"/>
        <result column="money_side_code" property="moneySideCode"/>
        <result column="rate_config_id" property="rateConfigId"/>
        <result column="project_id" property="projectId"/>
        <result column="product_type" property="productType"/>
        <result column="invest_amount" property="investAmount"/>
        <result column="periods" property="periods"/>
        <result column="periods_type" property="periodsType"/>
        <result column="interest_type" property="interestType"/>
        <result column="status" property="status"/>
        <result column="stage" property="stage"/>
        <result column="fixed_repay_date" property="fixedRepayDate"/>
        <result column="return_type" property="returnType"/>
        <result column="source" property="source"/>
        <result column="channel" property="channel"/>
        <result column="value_date_time" property="valueDateTime"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="max_payback_date" property="maxPaybackDate"/>
        <result column="plan_id" property="planId"/>
    </resultMap>

    <sql id="Base_Column_List">
		id, invest_id, sku_id,money_side_code, invest_user_id, rate_config_id,project_id, product_type, invest_amount, periods, periods_type,
    	interest_type, status, stage,return_type, source, channel, value_date_time, fixed_repay_date,created_at, updated_at,max_payback_date,plan_id
	</sql>

    <select id="getBySkuId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from loan_opuat_core.invest WHERE sku_id = #{skuId} and status != 400
    </select>


</mapper>
