<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinan.cn.p2p.test.repay.mapper.P2pFinancialLoansBaseMapper">

    <resultMap id="BaseResultMap" type="com.xinan.cn.p2p.test.repay.bean.entities.P2pFinancialLoansBase">
        <result column="loan_id" property="loanId"/>
        <result column="loan_apply_no" property="loanApplyNo"/>
        <result column="sku_id" property="skuId"/>
        <result column="loan_number" property="loanNumber"/>
        <result column="loan_user_id" property="loanUserId"/>
    </resultMap>

    <sql id="Base_Column_List">
		loan_id,loan_apply_no,sku_id,loan_number,loan_user_id
	</sql>

    <select id="getBySkuId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from xinan_uat_financial.loans_base WHERE sku_id = #{loanId}
    </select>

</mapper>
