<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinan.cn.common.mapper.plan.PeriodPlanMapper">

    <resultMap id="BaseResultMap" type="com.xinan.cn.common.bean.entities.plan.PeriodPlan">
        <result column="plan_id" property="planId" jdbcType="BIGINT"/>
        <result column="period" property="period" jdbcType="INTEGER"/>
        <result column="plan_repay_date" property="planRepayDate" jdbcType="BIGINT"/>
        <result column="plan_status" property="planStatus" jdbcType="INTEGER"/>
        <result column="request_source" property="requestSource" jdbcType="VARCHAR"/>
        <result column="overdue_grace_period" property="overdueGracePeriod" jdbcType="INTEGER"/>
        <result column="claim_grace_period" property="claimGracePeriod" jdbcType="INTEGER"/>
        <result column="is_overdue" property="isOverdue" jdbcType="INTEGER"/>
        <result column="claim_status" property="claimStatus" jdbcType="INTEGER"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP"/>
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP"/>
        <result column="deleted_at" property="deletedAt" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        plan_id, period, plan_repay_date, plan_status, request_source, overdue_grace_period, claim_grace_period, is_overdue, claim_status, version, id, created_at, updated_at, deleted_at
    </sql>

    <select id="getOnePeriodPlan" parameterType="com.xinan.cn.common.bean.entities.plan.PeriodPlan"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from xinan_uat_core_plan.period_plan where plan_id = #{planId} and period = #{period}
    </select>

    <select id="listPlan" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from xinan_uat_core_plan.period_plan where plan_id = #{planId}
    </select>

    <update id="updateOneByPlanId" parameterType="com.xinan.cn.common.bean.entities.plan.PeriodPlan">
        update xinan_uat_core_plan.period_plan
        <set>
            <if test="planStatus != null">
                plan_status = #{planStatus},
            </if>
            <if test="isOverdue != null">
                is_overdue = #{isOverdue},
            </if>
            <if test="claimStatus != null">
                claim_status = #{claimStatus},
            </if>
            <if test="planRepayDate != null">
                plan_repay_date = #{planRepayDate},
            </if>
        </set>
        where plan_id = #{planId} and period = #{period}
    </update>

    <select id="queryOverdueAndNoRepayWithPeriod" resultType="java.lang.Integer">
        select
        period
        from xinan_uat_core_plan.period_plan
        where plan_id = #{planId}
        and is_overdue = 1
        and plan_status = 0
        <![CDATA[
            AND period <= #{period}

        ]]>
    </select>

    <update id="batchUpdateOverdueAndClaim" parameterType="java.util.HashMap">
        update xinan_uat_core_plan.period_plan
        <set>
            <if test="isOverdue != null">
                is_overdue = #{isOverdue},
            </if>
            <if test="claimStatus != null">
                claim_status = #{claimStatus},
            </if>
        </set>
        where plan_id in
        <foreach collection="planIds" item="planId" index="index" open="(" close=")" separator=",">
            #{planId}
        </foreach>
        and period in
        <foreach collection="periods" item="period" index="index" open="(" close=")" separator=",">
            #{period}
        </foreach>
    </update>

</mapper>
