<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinan.cn.common.mapper.p2p.trading.P2PPaybackPlanMapper">

    <resultMap id="BaseResultMap" type="com.xinan.cn.common.bean.entities.p2p.trading.P2PPaybackPlan">
        <result column="id" property="id"/>
        <result column="invest_id" property="investId"/>
        <result column="user_id" property="userId"/>
        <result column="sku_id" property="skuId"/>
        <result column="plan_id" property="planId"/>
        <result column="transfer_id" property="transferId"/>
        <result column="transfer_period" property="transferPeriod"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="created_at" property="createdAt"/>
    </resultMap>

    <sql id="Base_Column_List">
		id, invest_id, user_id, sku_id, plan_id, transfer_id, transfer_period, created_at, updated_at
	</sql>

    <select id="findListBySkuId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from xinan_uat_trading.payback_plan
        where sku_id = #{skuId}
    </select>
</mapper>
