<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>还款测试</title>
    <link th:href="@{'http://fonts.googleapis.com/css?family=Open+Sans:400,700'}" rel='stylesheet' type='text/css'>
    <link th:href="@{~/assets/bootstrap/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <link th:href="@{~/assets/font-awesome/css/font-awesome.css}" rel="stylesheet">
    <link th:href="@{~/stylesheets/theme.css}" rel="stylesheet" type="text/css">
    <link th:href="@{~/stylesheets/premium.css}" rel="stylesheet" type="text/css">
    <link th:href="@{~/assets/bootstrap/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" media="screen">
    <link th:href="@{~/customer/common.css}" rel="stylesheet" type="text/css">
    <script th:src="@{~/assets/jquery.js}" type="text/javascript"></script>
    <script th:src="@{~/assets/bootstrap/js/bootstrap.js}"></script>
    <link th:href="@{~/assets/bootstrap/bootstrap-table/bootstrap-table.css}" rel="stylesheet">
    <script th:src="@{~/assets/bootstrap/bootstrap-table/bootstrap-table.js}"></script>
    <script th:src="@{~/assets/bootstrap/bootstrap-table/locale/bootstrap-table-zh-CN.js}"></script>
    <script th:src="@{~/assets/layer/layer.js}"></script>
</head>
<style type="text/css">
    .tableTitle {
        text-align: center;
        margin-bottom: -28px;
        font-size: 18px;
        font-weight: bold;
        font-family: 'SimHei';
    }

    .operatorBtn {
        padding: 3px 6px;
    }

    #searchForm input {
        width: 200px;
    }

    .modal-body label {
        font-weight: bold;
        color: #750000;
    }

    .form-inline .form-group {
        margin-bottom: 10px;
    }

</style>

<body class=" theme-blue">

<div th:include="common/header :: headerNav" class="navbar navbar-default"></div>

<div th:include="common/menu :: menuNav" class="sidebar-nav"></div>

<div class="content">
    <div class="header">
        <h1 class="page-title">还款测试</h1>
        <ul class="breadcrumb">
            <li><a th:href="@{~/index.html}">Home</a></li>
            <li class="active">repayIndex</li>
        </ul>
    </div>
    <div class="main-content">

        <div class="row">
            <div class="col-md-12">
                <div id="searchForm" action="" class="form-inline" style="margin-bottom: 10px;">
                    <div class="form-group" style="width: 300px;">
                        <label>标的编号:</label>
                        <input type="text" th:id="skuId" name="skuId" placeholder="请输入标的编号" class="form-control">
                    </div>
                    <div class="form-group btn-toolbar">
                        <button class="btn btn-primary" id="searchBtn">查询</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin: 15px;">
            <div class="col-md-13 col-sm-13 col-xs-13">
                <h3 class="tableTitle">计划信息表</h3>
                <table id="p2pPlanTable"></table>
                <div>
                    <p id="tipsMsg" style="color: red;margin-top: 10px;"></p>
                </div>
            </div>
        </div>

        <div class="row" style="margin: 15px;">
            <div class="col-md-13 col-sm-13 col-xs-13">
                <h3 class="tableTitle">资产信息表</h3>
                <table id="p2pLoanTable"></table>
            </div>
        </div>

        <div class="row" style="margin: 15px;">
            <div class="col-md-13 col-sm-13 col-xs-13">
                <h3 class="tableTitle">对账步骤表</h3>
                <table id="dealStepTable"></table>
            </div>
        </div>

        <footer th:include="common/footer :: footerNav"></footer>
    </div>
</div>

</body>

<script type="text/javascript">
    $(function () {
        $("#repayIndex").addClass('active');
        $("#repayIndex").parent().removeClass('collapse').addClass('collapsed');
        new p2pPlanTableObj().Init();//初始化计划表格
        new p2pLoanTableObj().Init();//初始化资产表格
        new dealStepTableObj().Init();//初始化步骤表格
    });

    // 计划表格
    var p2pPlanTableObj = function (url, dataParam) {
        var p2pPlanTableInit = new Object();
        //初始化Table
        p2pPlanTableInit.Init = function () {
            $('#p2pPlanTable').bootstrapTable('destroy');//先销毁表格
            $('#p2pPlanTable').bootstrapTable({
                url: url,
                method: 'post', //请求方式
                contentType: 'application/x-www-form-urlencoded',
                responseHandler: function (res) {
                    window.planTableMap = {};
                    $.each(res, function (i, v) {
                        window.planTableMap[i] = v;
                        if (v.period == 1 && v.p2pPlanStatus == 30 && v.fdPlanStatus == 30) {
                            window.planTableMap["firstPeriod"] = true;
                        }
                        if (v.p2pPlanStatus == 20 || v.fdPlanStatus == 20 || v.p2pPlanStatus == 21 || v.fdPlanStatus == 21) {
                            window.planTableMap["process"] = true;
                        }
                        window.planTableMap["isAllowRepay"] = true;
                    });
                    return {
                        data: res //数据
                    };
                },
                queryParamsType: "undefined",
                queryParams: function (params) {
                    return dataParam;
                },
                columns: [
                    {
                        field: 'period',
                        title: '期数',
                        align: 'center',
                        valign: 'middle',
                    }, {
                        field: 'planRepayDate',
                        title: '计划还款日期',
                        align: 'center',
                        valign: 'middle',
                        formatter: function (value, row, index) {
                            return formatTime(Number(value), 'Y-M-D');

                        }
                    }, {
                        field: 'p2pPlanStatus',
                        title: '计划状态',
                        align: 'center',
                        valign: 'middle',
                        formatter: function (value, row, index) {
                            if ("0" == value) {
                                return "待还款";
                            }
                            if ("10" == value) {
                                return "<font color='red'>还款失败</font>";
                            }
                            if ("14" == value) {
                                return "<font color='red'>系统还款失败(不计罚息)</font>";
                            }
                            if ("20" == value) {
                                return "<font color='blue'>还款处理中</font>";
                            }
                            if ("21" == value) {
                                return "<font color='blue'>系统还款处理中(不计罚息)</font>";
                            }
                            if ("30" == value) {
                                return "<font color='green'>还款成功</font>";
                            }
                            if ("32" == value) {
                                return "<font color='green'>部分还款成功</font>";
                            }
                            if ("51" == value) {
                                return "已加速到期";
                            }
                            if ("52" == value) {
                                return "<font color='green'>已提前还款</font>";
                            }
                            if ("53" == value) {
                                return "<font color='#f08080'>已债转</font>";
                            }
                            return "";
                        }
                    }, {
                        field: 'p2pIsOverdue',
                        title: '是否逾期',
                        align: 'center',
                        valign: 'middle',
                        formatter: function (value, row, index) {
                            if ("0" == value) {
                                return "否";
                            }
                            if ("1" == value) {
                                return "<font color='red'>已逾期</font>";
                            }
                            if ("999" == value) {
                                return "未知";
                            }
                            return "";
                        }
                    }, {
                        field: 'p2pClaimStatus',
                        title: '代偿状态',
                        align: 'center',
                        valign: 'middle',
                        formatter: function (value, row, index) {
                            if ("0" == value) {
                                return "未触发";
                            }
                            if ("10" == value) {
                                return "已触发";
                            }
                            if ("11" == value) {
                                return "<font color='blue'>处理中</font>";
                            }
                            if ("12" == value) {
                                return "<font color='green'>代偿成功</font>";
                            }
                            if ("14" == value) {
                                return "<font color='red'>代偿失败</font>";
                            }
                            if ("999" == value) {
                                return "未知";
                            }
                            return "";
                        }
                    }, {
                        field: 'fdPlanStatus',
                        title: '房贷计划状态',
                        align: 'center',
                        valign: 'middle',
                        formatter: function (value, row, index) {
                            if ("0" == value) {
                                return "待还款";
                            }
                            if ("10" == value) {
                                return "<font color='red'>还款失败</font>";
                            }
                            if ("14" == value) {
                                return "<font color='red'>系统还款失败(不计罚息)</font>";
                            }
                            if ("20" == value) {
                                return "<font color='blue'>还款处理中</font>";
                            }
                            if ("21" == value) {
                                return "<font color='blue'>系统还款处理中(不计罚息)</font>";
                            }
                            if ("30" == value) {
                                return "<font color='green'>还款成功</font>";
                            }
                            if ("32" == value) {
                                return "<font color='green'>部分还款成功</font>";
                            }
                            if ("51" == value) {
                                return "已加速到期";
                            }
                            if ("52" == value) {
                                return "<font color='green'>已提前还款</font>";
                            }
                            if ("53" == value) {
                                return "<font color='#f08080'>已债转</font>";
                            }
                            return "";
                        }
                    }, {
                        field: 'fdIsOverdue',
                        title: '房贷是否逾期',
                        align: 'center',
                        valign: 'middle',
                        formatter: function (value, row, index) {
                            if ("0" == value) {
                                return "否";
                            }
                            if ("1" == value) {
                                return "<font color='red'>已逾期</font>";
                            }
                            if ("999" == value) {
                                return "未知";
                            }
                            return "";
                        }
                    }, {
                        field: 'fdClaimStatus',
                        title: '房贷代偿状态',
                        align: 'center',
                        valign: 'middle',
                        formatter: function (value, row, index) {
                            if ("0" == value) {
                                return "未触发";
                            }
                            if ("10" == value) {
                                return "已触发";
                            }
                            if ("11" == value) {
                                return "<font color='blue'>处理中</font>";
                            }
                            if ("12" == value) {
                                return "<font color='green'>代偿成功</font>";
                            }
                            if ("14" == value) {
                                return "<font color='red'>代偿失败</font>";
                            }
                            if ("999" == value) {
                                return "未知";
                            }
                            return "";
                        }
                    }, {
                        title: '操作',
                        field: 'operation',
                        align: 'center',
                        valign: 'middle',
                        formatter: function (value, row, index) {
                            return operatorShow(value, row, index);
                        }
                    }, {
                        title: "内容详情",
                        align: 'center',
                        valign: 'middle',
                        formatter: function (value, row, index) {
                            var skuId = $.trim($("#skuId").val());
                            if(currentEnvironment == "prd"){
                                return "<a target='_blank' href='http://opm.xamoney.com/#/project/projectdetail/" + skuId + "'> <i class='fa fa-file'></i> </a>";
                            }else if(currentEnvironment == "uat"){
                                return "<a target='_blank' href='http://opm-uat.xamoney.com/#/project/projectdetail/" + skuId + "'> <i class='fa fa-file'></i> </a>";
                            }
                            return "<a target='_blank' href='http://opm-uat.xamoney.com/#/project/projectdetail/" + skuId + "'> <i class='fa fa-file'></i> </a>";
                        }
                    }],
                pagination: false, //是否显示分页（*）
                striped: true, //是否显示行间隔色
                onLoadSuccess: function (rsp) { //加载成功时执行
                    if (currentEnvironment == "prd") {
                        $('#p2pPlanTable').bootstrapTable('hideColumn', 'operation');//隐藏上述operation列
                    }
                },
                onLoadError: function () {
                },
                cache: false,// 不开启缓存
                undefinedText: '---',// 当数据为 undefined 时显示的字符
                sortable: false,
                showColumns: true//显示下拉框勾选要显示的列
            });
        };
        return p2pPlanTableInit;
    };

    // 计划表格
    function initP2pPlanTable(param) {
        var tab = new p2pPlanTableObj("/plan/periodPlanSimpleInfo.do", param);
        tab.Init();
    }

    // 资产表格
    var p2pLoanTableObj = function (url, dataParam) {
        var p2pLoanTableInit = new Object();
        //初始化Table
        p2pLoanTableInit.Init = function () {
            $('#p2pLoanTable').bootstrapTable('destroy');//先销毁表格
            $('#p2pLoanTable').bootstrapTable({
                url: url,
                method: 'post', //请求方式
                contentType: 'application/x-www-form-urlencoded',
                responseHandler: function (res) {
                    window.loanTableMap = {};
                    window.loanTableMap["loanSimpleInfoVO"] = res;
                    return {
                        data: new Array(res) //数据
                    };
                },
                queryParamsType: "undefined",
                queryParams: function (params) {
                    var param = {
                        skuId: dataParam.skuId
                    };
                    return param;
                },
                columns: [
                    {
                        field: 'loanBaseId',
                        title: '借款ID<br>(loansBaseId)',
                        align: 'center',
                        valign: 'middle',
                    },
                    {
                        field: 'prjName',
                        title: '项目名称',
                        align: 'center',
                        valign: 'middle',
                    }, {
                        field: 'realName',
                        title: '借款人',
                        align: 'center',
                        valign: 'middle',
                    }, {
                        field: 'userName',
                        title: '用户名',
                        align: 'center',
                        valign: 'middle',
                    }, {
                        field: 'loanName',
                        title: '类型',
                        align: 'center',
                        valign: 'middle',
                    }, {
                        field: 'loanStatus',
                        title: '资产状态',
                        align: 'center',
                        valign: 'middle',
                        formatter: function (value, row, index) {
                            if ("0" == value) {
                                return "未知";
                            }
                            if ("1" == value) {
                                return "形成资产";
                            }
                            if ("2" == value) {
                                return "募集中";
                            }
                            if ("3" == value) {
                                return "标的满标";
                            }
                            if ("4" == value) {
                                return "标的流标";
                            }
                            if ("5" == value) {
                                return "放款中";
                            }
                            if ("6" == value) {
                                return "还款中";
                            }
                            if ("7" == value) {
                                return "逾期";
                            }
                            if ("8" == value) {
                                return "已结清";
                            }
                            return "";
                        }
                    }, {
                        field: 'p2pLoanId',
                        title: '资产ID (loanId)',
                        align: 'center',
                        valign: 'middle',
                    }, {
                        field: 'p2pSkuId',
                        title: '标的ID (skuId)',
                        align: 'center',
                        valign: 'middle',
                    }, {
                        field: 'p2pPlanId',
                        title: '计划ID (planId)',
                        align: 'center',
                        valign: 'middle',
                    }, {
                        field: 'p2pInvestPlanIds',
                        title: '投资计划ID (planId)',
                        align: 'center',
                        valign: 'middle',
                    }, {
                        field: 'fdLoanId',
                        title: '房贷资产ID (loanId)',
                        align: 'center',
                        valign: 'middle',
                    }, {
                        field: 'fdSkuId',
                        title: '房贷标的ID (skuId)',
                        align: 'center',
                        valign: 'middle',
                    }, {
                        field: 'fdPlanId',
                        title: '房贷计划ID (planId)',
                        align: 'center',
                        valign: 'middle',
                    }, {
                        field: 'fdInvestPlanId',
                        title: '房贷投资计划ID (planId)',
                        align: 'center',
                        valign: 'middle',
                    }, {
                        title: "内容详情",
                        align: 'center',
                        valign: 'middle',
                        formatter: function (value, row, index) {
                            if(currentEnvironment == "prd"){
                                return "<a target='_blank' href='http://opm.xamoney.com/#/project/projectdetail/" + row.p2pSkuId + "'> <i class='fa fa-file'></i> </a>";
                            }else if(currentEnvironment == "uat"){
                                return "<a target='_blank' href='http://opm-uat.xamoney.com/#/project/projectdetail/" + row.p2pSkuId + "'> <i class='fa fa-file'></i> </a>";
                            }
                            return "<a target='_blank' href='http://opm-uat.xamoney.com/#/project/projectdetail/" + row.p2pSkuId + "'> <i class='fa fa-file'></i> </a>";
                        }
                    }],
                pagination: false, //是否显示分页（*）
                onLoadSuccess: function (rsp) { //加载成功时执行
                    //请求计划信息
                    initP2pPlanTable(rsp.data[0]);
                },
                onLoadError: function () {
                },
                cache: false,// 不开启缓存
                undefinedText: '---',// 当数据为 undefined 时显示的字符
                sortable: false,
                showColumns: true//显示下拉框勾选要显示的列
            });
        };
        return p2pLoanTableInit;
    };

    // 资产表格
    function initP2pLoanTable(param) {
        var tab = new p2pLoanTableObj("/p2p/loan/loanSimpleInfo.do", param);
        tab.Init();
    }

    // 对账步骤表格
    var dealStepTableObj = function (url, dataParam) {
        var dealStepTableInit = new Object();
        //初始化Table
        dealStepTableInit.Init = function () {
            $('#dealStepTable').bootstrapTable('destroy');//先销毁表格
            $('#dealStepTable').bootstrapTable({
                url: url,
                method: 'post', //请求方式
                contentType: 'application/x-www-form-urlencoded',
                responseHandler: function (res) {
                    return {
                        data: res //数据
                    };
                },
                queryParamsType: "undefined",
                queryParams: function (params) {
                    return dataParam;
                },
                columns: [
                    {
                        field: 'dealType',
                        title: '交易类型',
                        align: 'center',
                        valign: 'middle'
                    }, {
                        field: 'businessId',
                        title: '业务id',
                        align: 'center',
                        valign: 'middle'
                    }, {
                        field: 'step',
                        title: '当前步骤',
                        align: 'center',
                        valign: 'middle'
                    }, {
                        field: 'stepStatus',
                        title: '当前步骤状态',
                        align: 'center',
                        valign: 'middle',
                        formatter: function (value, row, index) {
                            if ("0" == value) {
                                return "处理中";
                            }
                            if ("1" == value) {
                                return "失败";
                            }
                            if ("2" == value) {
                                return "成功";
                            }
                            return "";
                        }
                    }, {
                        field: 'status',
                        title: '总状态',
                        align: 'center',
                        valign: 'middle',
                        formatter: function (value, row, index) {
                            if ("0" == value) {
                                return "处理中";
                            }
                            if ("1" == value) {
                                return "失败";
                            }
                            if ("2" == value) {
                                return "成功";
                            }
                            return "";
                        }
                    }, {
                        field: 'createdAt',
                        title: '创建时间',
                        align: 'center',
                        valign: 'middle',
                        formatter: function (value, row, index) {
                            return formatTime(value, 'Y-M-D h:m:s');
                        }
                    }, {
                        field: 'updatedAt',
                        title: '更新时间',
                        align: 'center',
                        valign: 'middle',
                        formatter: function (value, row, index) {
                            return formatTime(value, 'Y-M-D h:m:s');
                        }
                    }, {
                        field: 'retryTimes',
                        title: '重试次数',
                        align: 'center',
                        valign: 'middle'
                    }, {
                        field: 'errorCode',
                        title: '错误码',
                        align: 'center',
                        valign: 'middle'
                    }, {
                        field: 'errorMsg',
                        title: '错误信息',
                        align: 'center',
                        valign: 'middle'
                    }],
                pagination: false, //是否显示分页（*）
                striped: true, //是否显示行间隔色
                onLoadSuccess: function (rsp) { //加载成功时执行
                },
                onLoadError: function () {
                },
                cache: false,// 不开启缓存
                undefinedText: '---',// 当数据为 undefined 时显示的字符
                sortable: false,
                showColumns: true//显示下拉框勾选要显示的列
            });
        };
        return dealStepTableInit;
    };

    // 对账步骤表格
    function initDealStepTable(param) {
        var tab = new dealStepTableObj("/p2p/account/dealStepStatusInfo.do", param);
        tab.Init();
    }

    // 搜索按钮点击
    $('#searchBtn').on('click', searchInfo);

    // 搜索
    function searchInfo() {
        $("#tipsMsg").text("");
        var skuId = $.trim($("#skuId").val());
        initP2pLoanTable({skuId: skuId});
        initDealStepTable({skuId: skuId});
    }

    // 计划表单，按钮展示处理
    function operatorShow(value, row, index) {
        if(currentEnvironment == "prd"){
            return;
        }
        var operator;
        // 有处理中的不允许还款
        if (planTableMap["process"]) {
            $("#tipsMsg").text("说明：有正在 \"处理中\" 的还款！");
            return;
        }

        if (!planTableMap["isAllowRepay"]) {
            return;
        }

        // 如果存在非待处理的则不展示标签按钮
        if (row.p2pPlanStatus === 0 && row.fdPlanStatus === 0) {
            if (row.p2pClaimStatus != 12 && row.fdClaimStatus != 12) { //逾期代偿有问题，代偿完成，计划表未更新，故逾期下不展示代偿，系统修复完，该功能放开
                operator = "<button class='btn btn-success btn-mini operatorBtn' type='button' onclick='ownRepay(" + JSON.stringify(row) + ")'>还款</button>";
                if (row.p2pIsOverdue === 0 && row.fdIsOverdue === 0) {
                    operator = operator + "&nbsp;&nbsp;<button class='btn btn-primary btn-mini operatorBtn' type='button' onclick='compenRepay(" + JSON.stringify(row) + ")'>代偿</button>";
                    operator = operator + "&nbsp;&nbsp;<button class='btn btn-danger btn-mini operatorBtn' type='button' onclick='overdue(" + JSON.stringify(row) + ")'>逾期</button>";
                }
            }
            return operator;
        } else if (row.p2pPlanStatus === 30 && row.fdPlanStatus === 30) {
            return;
        } else {
            $("#tipsMsg").text("说明：还款状态不是 \"等待还款\" ！");
            planTableMap["isAllowRepay"] = false;
            return;
        }
        return operator;
    }

    // 本人还款
    function ownRepay(param) {
        var loadingIndex = null;
        $.ajax({
            url: '/test/repay/ownRepay.do',
            type: 'POST',
            data: {
                "periodPlanVO": JSON.stringify(param),
                "loanSimpleInfoVO": JSON.stringify(loanTableMap["loanSimpleInfoVO"])
            },
            beforeSend: function () {
                loadingIndex = layer.load(2, {time: 10 * 1000});
            },
            success: function (data) {
                layer.close(loadingIndex);
                if (data.isSuccess) {
                    layer.confirm(data.tipMsg, {icon: 1, title: '支付提示', btn: ['去支付', '关闭窗口']}, function (cindex) {
                        window.open(data.redirectUrl);
                        //layer.close(cindex);
                    }, function (cindex) {
                        layer.close(cindex);
                        searchInfo();
                    });
                } else {
                    layer.msg("申请还款异常！", {time: 3000, icon: 5, shift: 6});
                }
            },
            error: function () {
                layer.close(loadingIndex);
                layer.msg("申请还款失败！", {time: 3000, icon: 5, shift: 6});
            }
        });
    }

    // 逾期
    function overdue(param) {
        var loadingIndex = null;
        $.ajax({
            url: '/test/repay/overdue.do',
            type: 'POST',
            data: {
                "periodPlanVO": JSON.stringify(param),
                "loanSimpleInfoVO": JSON.stringify(loanTableMap["loanSimpleInfoVO"])
            },
            beforeSend: function () {
                loadingIndex = layer.load(2, {time: 10 * 1000});
            },
            success: function (data) {
                layer.close(loadingIndex);
                if (data.isSuccess) {
                    layer.msg("申请逾期成功！", {time: 3000, icon: 6, shift: 5});
                    searchInfo();
                } else {
                    layer.msg("申请逾期异常！", {time: 3000, icon: 5, shift: 6});
                }
            },
            error: function () {
                layer.close(loadingIndex);
                layer.msg("申请逾期失败！", {time: 3000, icon: 5, shift: 6});
            }
        });
    }

    // 代偿还款
    function compenRepay(param) {
        var loadingIndex = null;
        $.ajax({
            url: '/test/repay/compenRepay.do',
            type: 'POST',
            data: {
                "periodPlanVO": JSON.stringify(param),
                "loanSimpleInfoVO": JSON.stringify(loanTableMap["loanSimpleInfoVO"])
            },
            beforeSend: function () {
                loadingIndex = layer.load(2, {time: 10 * 1000});
            },
            success: function (data) {
                layer.close(loadingIndex);
                if (data.isSuccess) {
                    layer.confirm(data.tipMsg, {icon: 1, title: '支付提示', btn: ['去代偿', '关闭窗口']}, function (cindex) {
                        window.open(data.redirectUrl);
                        //layer.close(cindex);
                    }, function (cindex) {
                        layer.close(cindex);
                        searchInfo();
                    });
                } else {
                    layer.msg("申请代偿还款异常！", {time: 3000, icon: 5, shift: 6});
                }
            },
            error: function () {
                layer.close(loadingIndex);
                layer.msg("申请代偿还款失败！", {time: 3000, icon: 5, shift: 6});
            }
        });
    }

    // 日期处理，timestamp为毫秒的时间戳数字
    function formatTime(timestamp, format) {
        var time = new Date(timestamp);
        var newArr = [];
        var formatArr = ['Y', 'M', 'D', 'h', 'm', 's']
        newArr.push(time.getFullYear())
        newArr.push(formatNumber(time.getMonth() + 1))
        newArr.push(formatNumber(time.getDate()))
        newArr.push(formatNumber(time.getHours()))
        newArr.push(formatNumber(time.getMinutes()))
        newArr.push(formatNumber(time.getSeconds()))
        for (var i in newArr) {
            format = format.replace(formatArr[i], newArr[i])
        }
        return format;
    }

    // 日期格式
    function formatNumber(n) {
        n = n.toString()
        return n[1] ? n : '0' + n;
    }

</script>

</html>
